body {
  padding: 20px;
}
.form {
  button,
  selcet,
  testarea,
  input {
    border: 1px solid #cecece;
  }
}
.search {
  --line: #cecece;
  --black: #000;
  --text: #777777;
  --btnBg: #da0029;
  --white: #fff;

  table {
    border: 1px solid var(--line);
  }
  th {
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    padding: 7px 0;
    background: url(../images/bg_line.svg) no-repeat right;
  }
  tr:first-child {
    th,
    td {
      padding-top: 17px;
      padding-bottom: 7px;
      background-position: right 22px;
    }
  }
  tr:last-child {
    th,
    td {
      padding-top: 7px;
      padding-bottom: 17px;
      background-position: right 21px;
    }
  }
  td {
    padding: 7px 20px;
    color: var(--text);
  }
}

.check-list {
  display: flex;
  gap: 30px;
}

.search__word {
  display: grid;
  grid-template-columns: 1fr 85px;
  gap: 10px;
  margin-top: 10px;
  input {
    height: 40px;
    border: 1px solid var(--line);
  }
  button {
    color: var(--white);
    font-size: 16px;
    background-color: var(--btnBg);
    border: 1px solid var(--btnBg);
    &:hover {
      background-color: white;
      border: 1px solid var(--btnBg);
      color: #da0029;
      transition: 0.5s;
    }
  }
}

.check-type1 {
  display: none;
  + label {
    padding-left: 18px;
    background: url(/images/bg_check_off.svg) no-repeat left;
  }
  &:checked {
    + label {
      padding-left: 18px;
      background: url(/images/bg_check_on.svg) no-repeat 0 5px;
    }
  }
}

.form2 {
  button,
  selcet,
  testarea,
  input {
    border: 1px solid #f7f7f7;
  }
}
.search2 {
  --text: #555555;
  --line: #e5e5e5;
  --bgCol: #f7f7f7;
  --blcak: #000;
  --white: #fff;

  table {
    border-top: 1px solid var(--line);
    border-bottom: 1px solid var(--line);
  }
  th {
    color: var(--text);
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    background-color: var(--bgCol);
  }
  td {
    padding: 10px 20px;
    color: var(--text);
    font-size: 13px;
    /* border: 1px solid var(--line); */
  }
  tr {
    border-top: 1px solid var(--line);
  }
  .check-list2 {
    display: flex;
    gap: 20px;
  }
}
.check-type2 {
  display: none;
  + label {
    padding-left: 25px;
    background: url(/images/bg_off.svg) no-repeat left;
  }
  &:checked {
    + label {
      padding-left: 25px;
      background: url(/images/bg_on.svg) no-repeat left;
    }
  }
}

.heading {
  padding-bottom: 8px;
}
.subheading {
  padding-bottom: 15px;
  color: var(--blcak);
  font-size: 16px;
  font-weight: 400;
}
.member {
  --black: #000;
  --text: #595959;
  --line: #ddd;
  --bt: #b9b9b9;
  --white: #fff;

  table {
    border: 1px solid var(--line);
    margin-bottom: 25px;
  }
  th {
    color: var(--text);
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--line);
  }
  td {
    border-bottom: 1px solid var(--line);
  }
}
input[type="text"] {
  width: 100%;
}
input[type="text"]::placeholder {
  border: none;
}
.domain-addon {
  font-size: 13px;
  color: #818181;
  position: absolute;
  padding-right: 20px;
}
.button1 {
  background-color: var(--white);
  border: 1px solid var(--bt);
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 13px;
}
.button2 {
  background-color: var(--bt);
  border: 1px solid var(--bt);
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 13px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
